ion-row{
  text-align: center;
  align-items: center;
}
ion-row ion-col ion-row ion-col{
  flex: 0 0 auto;
}
ion-row ion-col ion-row{
  text-align: left;
}
ion-row ion-col:first-child{
    flex: 0 0 120px;
}
ion-row ion-col:first-child ion-img{
    filter: invert(100%);
    padding: 20px;
}
ion-col div{
  display: flex;
}
ion-row ion-col:last-child{
  flex: 0 0 40px;
}
ion-row ion-col:last-child ion-img{
  width: 30px;
    padding: 5px;
    transform: rotate(180deg);
}