<ion-grid>
  <ion-row (click)="onClick(0)">
    <ion-col >
        <ion-img  src="../../../assets/images/settings.png"></ion-img>
    </ion-col>
    <ion-col>
        <ion-row>
          <ion-col >
            <ion-label>Ashwin Kumar</ion-label>
          </ion-col>
        </ion-row>
          <ion-row>
          <ion-col>
              <ion-label>Signed through BDO LLP </ion-label>
            </ion-col>
        </ion-row>
    </ion-col>
    <ion-col>
        <ion-img  src="../../../assets/images/back.png"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
<menu-item lblValue="Notification Settings" (click)="onClick(1)"></menu-item>
<menu-item lblValue="About Us"(click)="onClick(2)"></menu-item>
<menu-item lblValue="Rate Us" (click)="onClick(3)"></menu-item>
<menu-item lblValue="Customer Support" (click)="onClick(4)"></menu-item>
<menu-item lblValue="FAQ's" (click)="onClick(5)"></menu-item>
<menu-item lblValue="Refer to friends" (click)="onClick(6)"></menu-item>
<menu-item lblValue="Privacy Policy & Agreement" (click)="onClick(7)"></menu-item>
<menu-item lblValue="Sync Calendar" (click)="onClick(8)"></menu-item>