// .heading {
//   color: #adbfd6 !important;
// }

// .date {
//   color: #003962 !important;
// }
.calendar_heading,
.calendar-date ion-col {
  border-right : 1px solid #e7eef5;
  border-bottom: 1px solid #e7eef5;
  flex         : 0 0 14.28% !important;
  max-width    : 14.28% !important;
}

[col-1] {
  -webkit-box-flex: 0;
  -webkit-flex    : 0 0 8.33333%;
  -ms-flex        : 0 0 8.33333%;
  flex            : 0 0 14.285714285714286%;
  width           : 14.285714285714286%;
  max-width       : 14.285714285714286%;
}

// ion-col.calendar_heading {
//   border-right: 0px solid #e7eef5;
// }

.calendar_heading ion-col {
  margin: 5px;
}
.dates_slotes {
  margin-bottom: 5px;
}
.col {
  text-align: center;
  padding   : 5px;
}

.last-month,
.next-month {
  color    : #999999;
  font-size: 90%;
}

.other-month-date {
  color: #bbcddf;
}

.week-current {
  background   : #e7f8ff;
  border-bottom: 3px solid #02a5e2;
}
.week-current ion-label.date {
  padding: 9px 5px !important;
}
.other {
  border-bottom: 1px solid #e7eef5;
}

// .current {
//   // background-color: #38536b;
//   // border-radius   : 5px;
//   background   : transparent;
//   border-bottom: 0px solid #02a5e2;
// }

.sel {
  background      : #e7f8ff;
  // border-bottom: 3px solid #02a5e2;
}

.calendar-header {
  // background-color: #003463;
  // color           : #fff;
  padding: 0px 15px;
}

.arrow_box {
  // flex: 0 0 20px;
  flex      : 0 0 20px;
  background: #4c657c91;
  padding   : 10px;
}

.month_box {
  // flex      : 0 0 100%;
  // max-width : calc(100% - 40px);
  flex      : 0 0 130px;
  max-width : 130px;
  text-align: center;
  background: white;
  padding   : 10px;
}

.month_box ion-label {
  font-family: 'proxima_nova_rgbold' !important;
}

.calendar-month {
  align-items       : center;
  // justify-content: space-between;
  flex-wrap         : nowrap;
}

.arrow_box ion-icon {
  padding: 0px;
  display: block;
}

.headig {
  font-family: "proxima_nova_rgbold";
  padding    : 0px;
  font-weight: bold;
}

.gov-due {
  margin-top   : 10px;
  border-radius: 10px 10px 0px 0px;
  padding      : 15px 15px 10px 15px;
  background   : white;
}

.gov-due .gov {
  padding: 0px !important;
}

.gov-due ion-img {
  width : 150px;
  margin: 0 auto;
}

.task-list {
  margin-top   : 3px;
  border-radius: 0px 0px 0px 0px;
  padding      : 15px 15px 0px 15px;
  background   : white;
}

.text-center {
  text-align: center;
}



.task-note-bottom {
  margin-top   : 5px;
  border-radius: 0px 0px 0px 0px;
  padding      : 15px;
  background   : white;
}


// .gov ion-row {
//   margin: 10px 0 0 0;
// }

// .gov ion-checkbox {
//   -webkit-margin-end    : 10px;
//   margin-inline-end     : 10px;
//   margin                : 0px 10px 0px 0px !important;
//   --border-color        : #003463;
//   --background-checked  : #65c184;
//   --border-color-checked: #65c184;
// }

.gov ion-item {
  --inner-padding-end: 0px;
  --padding-start    : 0px;
  --padding-end      : 0px;
  --min-height       : 25px
}

ion-item ion-label {
  opacity: 1 !important;
}

.titles {
  letter-spacing: 0.5px;
  font-family   : 'proxima_nova_rgbold' !important;
}

.viewbtn {
  float: right;
  color: #02a5e2 !important;
}

ion-label.gray {
  color       : #80657c91 !important;
  font-size   : 13px !important;
  display     : block;
  line-height : normal;
  padding-left: 30px;
}

ion-checkbox {
  --background-checked  : #333333;
  --border-color-checked: #333333;
  -webkit-margin-end    : 10px;
  margin-inline-end     : 10px;
  margin-right          : 10px;
  margin-top            : 8px !important;
  margin-bottom         : 0px !important;
  border-radius         : 0px !important;
  --border-radius       : 0px !important;
  margin-left           : 0px !important;
}

.task-list {
  position: relative;
}

.tast_row {}

.task-list::after {
  content   : "";
  display   : block;
  background: #f2f6fa;
  position  : absolute;
  width     : 100%;
  height    : 8px;
  left      : 0;
  top       : 78px;
  z-index   : 1;
}

ion-segment {
  z-index: 2;
}

ion-segment-button {
  --ion-color-primary: white;
  background         : white;
  position           : relative;
}

ion-segment-button ion-label {
  font-family   : 'proxima_nova_rgregular';
  color         : #333333 !important;
  text-transform: capitalize !important;
}

ion-segment-button.segment-button-checked ion-label {
  font-family: 'proxima_nova_rgbold';
}

ion-segment-button.segment-button-checked::after {
  content      : "";
  display      : block;
  background   : #02a5e2;
  position     : absolute;
  bottom       : 0px;
  width        : 40px;
  height       : 3px;
  border-radius: 10px;
  left         : 50%;
  transform    : translate(-50%, 0%);
}


.tasks_cols {
  padding : 10px 0px;
  position: relative;
}

.tasks_cols::after {
  content   : "";
  display   : block;
  position  : absolute;
  background: #f2f6fa;
  width     : calc(100% + 30px);
  height    : 2px;
  left      : -15px;
  bottom    : 0px;
}

.tast_row::after {
  content   : "";
  display   : block;
  position  : absolute;
  background: #f2f6fa;
  width     : calc(100% + 30px);
  height    : 5px;
  left      : -15px;
  bottom    : 0px;
}

.grid_content .titles {
  font-weight  : bold;
  display      : block;
  line-height  : 15px;
  margin-bottom: 7px;
}

.grid_content .contents {
  color      : #96abbe !important;
  display    : block;
  line-height: 15px;
}

.grid_content .content {
  display      : block;
  line-height  : 15px;
  margin-bottom: 5px;
}

.subtask_list {
  margin-top: 18px;
}

ion-button {
  --padding-start: 0px;
  --padding-end  : 0px;
  background     : transparent;
  --background   : transparent;
  --border       : none;
  --box-shadow   : none;
  margin         : 0px;
  margin-inline  : 0px;
}

.complete {
  color: green;
}

.complete ion-icon {
  color: green;
}



.reject {
  color: red;
}

.reject ion-icon {
  color: red;
}

.row-border {
  width        : calc(100% + 30px);
  border-top   : 2px solid #f2f6fa;
  border-bottom: 2px solid #f2f6fa;
  position     : relative;
  left         : -15px;
}

ion-icon {
  margin-right: 5px;
}

// .row-border::after {
//   content   : '';
//   display   : block;
//   width     : 2px;
//   height    : 100%;
//   background: #f2f6fa;
//   position  : absolute;
//   left      : 50%;
//   top       : 0px;
//   transform : translate(-50%, 0%);
// }