<div class="calendar-header">
  <ion-row class="calendar-month">
    <ion-col class="arrow_box" (click)="previousWeek()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-col>
    <ion-col class="month_box">
      <!-- <ion-item style="--background: transparent; color: white;">
        <ion-datetime displayFormat="MMMM YYYY" [(ngModel)]="selMonthYear" [min]="cDate" (ionChange)="changeSelDate()"></ion-datetime>
         &nbsp;Week-{{weekNo}}
      </ion-item> -->
      <ion-label>{{ date.format("MMMM ") }}{{ date.format("YYYY ") }} Week-{{weekNo}}</ion-label>
    </ion-col>
    <ion-col class="arrow_box" (click)="nextWeek()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>
</div>


<ion-grid>
  <ion-row class="calendar-weekday">
    <ion-col [ngClass]=" item.isCurrent ? 'current calendar_heading' :item.selected ? 'sel calendar_heading':'other calendar_heading' "
             *ngFor="let item of days;let i = index" (click)="onClick(item,i)">
      <div>
        <ion-label class="heading">{{ item.lbl }}</ion-label>
        <ion-label class="date">{{ item.day }}</ion-label>
        <div class="dates_slotes" *ngIf="item.total_task !=0 || item.gTotal != 0">
          <span class="cricle" *ngIf="item.gTotal !=undefined && item.gTotal != 0">{{item.gTotal}}</span>
          <span class="squre" *ngIf="item.total_task !=0">{{item.total_task}}</span>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="gov-due">
  <ion-row>
    <ion-col>
      <ion-label class="headig">Gov. Due Dates</ion-label>
      <ion-grid class="gov">
        <ion-row *ngIf="govDueDates.length == 0">
          <ion-col class="text-center">
            <ion-img src="../../../../assets/images/govduedate.png"></ion-img>
            <ion-label>No Gov. Due Date today</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of govDueDates">
          <ion-col>
            <ion-label class="head-lbl">{{item.heading}}</ion-label>
            <ion-item *ngIf="item.is_disabled" >
              <ion-label>{{item.content}}</ion-label>
              <ion-checkbox slot="start" [disabled]="item.is_disabled" [checked]="item.is_disabled"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="!item.is_disabled" >
              <ion-label>{{item.content}}</ion-label>
              <ion-checkbox slot="start" [(ngModel)]="item.isCheck"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row  *ngIf="govDueDates.length != 0" >
          <ion-col size="12" class="p-0">
           <ion-item >
            <ion-label position="floating">Compliance remarks</ion-label>
            <ion-input [(ngModel)]="remarks"></ion-input>
           </ion-item>
          </ion-col>
          <ion-col class="p-0">
            <ion-button class="complete" (click)="markAsComplete()">
              <ion-icon name="checkmark-circle-outline" ></ion-icon> Mark as Complete
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="task-list">
  <ion-row>
    <ion-col>
      <ion-label class="headig">Tasks</ion-label>
      <ion-segment [(ngModel)]="selectedTaskTab" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="toYou">
          <ion-label>Assigned to you</ion-label>
        </ion-segment-button>
        <ion-segment-button value="byYou">
          <ion-label>Assigned by you</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-grid class="p-0">
        <div class="grid_content" *ngIf="tasks != undefined && selectedTaskTab =='toYou'">

          <no-task *ngIf="assignedToYou.length == 0"></no-task>

          <ion-row class="tast_row" *ngFor="let item of assignedToYou">
            <ion-col size="12" class="tasks_cols">
              <ion-label class="titles">{{item.taskname}}</ion-label>
              <ion-label class="contents">{{ formateDate(item.due_date)}}</ion-label>
            </ion-col>
            <ion-col size="12"  *ngIf="item.child_task.length > 0">
              <ion-row class="p-0">
                <ion-col class="p-0">
              <ion-label class="titles">Sub - Tasks</ion-label>
                </ion-col>
                </ion-row>
              <ion-grid *ngFor="let sub of item.child_task" class="p-0 ">
                <ion-row class="p-0">
                  <ion-col class="p-0">
                    <ion-label class="content">{{sub.taskname}}</ion-label>
                    <ion-label class="contents">{{formateDate(sub.duedate)}}</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="12">
              <ion-grid class="p-0" *ngIf="item.assigned_by_user_details != undefined">
                <ion-row style="padding: 10px 0px 0px 0px;">
                  <ion-col style="flex: 0 0 40px;">
                    <ion-img style="width: 30px; filter: invert(1);" src="../../../../assets/images/settings.png">
                    </ion-img>
                  </ion-col>
                  <ion-col>
                    <ion-label class="titles">Assigned to you </ion-label>
                    <ion-label class="content">{{item.assigned_by_user_details.full_name}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label class="titles">Priority</ion-label>
                    <ion-label class="content">{{item.task_priority}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label class="titles">Attachment</ion-label>
                    <ion-label class="content">02</ion-label>
                  </ion-col>
                  <ion-col style="flex: 0 0 25px;">
                    <ion-img style="width: 20px; filter: invert(1);" src="../../../../assets/images/settings.png">
                    </ion-img>
                  </ion-col>
                </ion-row>
                <ion-row class="row-border">
                  <ion-col size="6" class="p-0">
                    <ion-button class="complete">
                      <ion-icon name="checkmark-circle-outline"></ion-icon> Mark as Complete
                    </ion-button>
                  </ion-col>
                  <ion-col size="6" class="p-0">
                    <ion-button class="reject">
                      <ion-icon name="close-circle-outline"></ion-icon>Reject
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-col>
          </ion-row>
        </div>
        <div class="grid_content" *ngIf="tasks != undefined && selectedTaskTab =='byYou'">
          <no-task *ngIf="assignedByYou.length == 0"></no-task>
          <ion-row class="tast_row" *ngFor="let item of assignedByYou">
            <ion-col size="12" class="tasks_cols">
              <ion-grid class="p-0">
                <ion-row *ngIf="item.assigned_user_details != undefined">
                  <ion-col style="flex: 0 0 40px;">
                    <ion-img style="width: 30px; filter: invert(1);" src="../../../../assets/images/settings.png">
                    </ion-img>
                  </ion-col>
                  <ion-col>
                    <ion-label class="titles">Assigned to you </ion-label>
                    <ion-label class="content">{{item.assigned_user_details.full_name}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label class="titles">Priority</ion-label>
                    <ion-label class="content">{{item.task_priority}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label class="titles">Attachment</ion-label>
                    <ion-label class="content">02</ion-label>
                  </ion-col>
                  <ion-col style="flex: 0 0 25px;">
                    <ion-img style="width: 20px;     filter: invert(1);" src="../../../../assets/images/settings.png">
                    </ion-img>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-grid class="p-0">
                      <ion-row>
                        <ion-col>
                          <ion-label>{{item.taskname}}</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-label>{{ formateDate(item.due_date)}}</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-img style="width: 20px; filter: invert(1);" src="../../../../assets/images/settings.png">
                          </ion-img>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                    <ion-grid class="p-0" *ngIf="item.child_task.length > 0">
                      <ion-label style="padding-top: 10px;" class="titles">Sub - Tasks</ion-label>
                      <ion-row  *ngFor="let sub of item.child_task">
                        <ion-col size="12" >
                          <ion-label class="content">{{sub.taskname}}</ion-label>
                          <ion-label class="contents">{{formateDate(sub.duedate)}}</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="task-note-bottom" *ngIf="tasks != undefined && tasks.length == 0">
  <ion-row>
    <ion-col class="text-center">
      <ion-label>Upcoming tasks on {{upcomingDate}}</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>