<div class="calendar-header">
  <ion-row class="calendar-month">
    <ion-col class="arrow_box" (click)="previousWeek()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-col>
    <ion-col class="month_box">
      <ion-label>{{ date.format("MMMM ") }}{{ date.format("YYYY ") }} Week-{{
          weekNo
        }}</ion-label>
    </ion-col>
    <ion-col class="arrow_box" (click)="nextWeek()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>
</div>

<ion-grid>
  <ion-row class="calendar-weekday">
    <ion-col [ngClass]="item.isCurrent ? 'current calendar_heading' : 'other calendar_heading'"
             *ngFor="let item of days">
      <div>
        <ion-label class="heading">{{ item.lbl }}</ion-label>
        <ion-label class="date">{{ item.day }}</ion-label>
        <div class="dates_slotes" *ngIf="item.day === '08'">
          <span class="cricle">1</span>
          <span class="squre">2</span>
        </div>
        <div class="dates_slotes" *ngIf="item.day === '13'">
          <span class="cricle">1</span>
          <span class="squre">2</span>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="gov-due">
  <ion-row>
    <ion-col>
      <ion-label class="headig">Gov. Due Dates</ion-label>
      <ion-grid class="gov">
        <ion-row *ngIf="govDueDates.length == 0">
          <ion-col class="text-center">
            <ion-img src="../../../../assets/images/govduedate.png"></ion-img>
            <ion-label>No Gov. Due Date today</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of govDueDates">
          <ion-col>
            <ion-label class="head-lbl">{{item.lbl}}</ion-label>
            <ion-item>
              <ion-label>{{item.value}}</ion-label>
              <ion-checkbox slot="start" [(ngModel)]="item.isCheck"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="task-list">
  <ion-row>
    <ion-col>
      <ion-label class="headig">Tasks</ion-label>
      <ion-segment [(ngModel)]="selectedTaskTab" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="toyou">
          <ion-label>Assiged to you</ion-label>
        </ion-segment-button>
        <ion-segment-button value="byyou">
          <ion-label>Assiged by you</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-grid class="p-0">
        <ion-row *ngIf="tasks.length == 0">
          <ion-col class="text-center">
            <ion-img src="../../../../assets/images/today-notask.png"></ion-img>
            <ion-label>No Task today</ion-label>
          </ion-col>
        </ion-row>
        <div class="grid_content" *ngIf="selectedTaskTab =='toyou'">
          <ion-row class="tast_row" *ngFor="let item of tasks">
            <ion-col size="12" class="tasks_cols">
              <ion-label class="titles">{{item.task}}</ion-label>
              <ion-label class="contents">{{item.date}}</ion-label>
            </ion-col>
            <ion-col size="12" class="tasks_cols">
              <ion-label class="titles">Sub -Tasks</ion-label>
              <ion-grid *ngFor="let sub of item.subtask" class="p-0 subtask_list">
                <ion-row class="p-0">
                  <ion-col class="p-0">
                    <ion-label class="content">{{sub.task}}</ion-label>
                    <ion-label class="contents">{{sub.date}}</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-col>

          </ion-row>
          <ion-grid class="p-0">
            <ion-row>
              <ion-col>
                <ion-img style="width: 30px; filter: invert(1);" src="../../../../assets/images/settings.png">
                </ion-img>
              </ion-col>
              <ion-col>
                <ion-label class="titles">Assiged to you </ion-label>
                <ion-label class="content">Rajesh kumar</ion-label>
              </ion-col>
              <ion-col>
                <ion-label class="titles">Priority</ion-label>
                <ion-label class="content">MEdium</ion-label>
              </ion-col>
              <ion-col>
                <ion-label class="titles">Attachment</ion-label>
                <ion-label class="content">02</ion-label>
              </ion-col>
              <ion-col>
                <ion-img style="width: 20px;     filter: invert(1);" src="../../../../assets/images/settings.png">
                </ion-img>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button>Mark as Complete</ion-button>
              </ion-col>
              <ion-col>
                <ion-button>Reject</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="grid_content" *ngIf="selectedTaskTab =='byyou'">
          <ion-row class="tast_row" *ngFor="let item of tasks">
            <ion-col size="12" class="tasks_cols">
              <ion-grid class="p-0">
                <ion-row>
                  <ion-col>
                    <ion-img style="width: 30px; filter: invert(1);" src="../../../../assets/images/settings.png">
                    </ion-img>
                  </ion-col>
                  <ion-col>
                    <ion-label class="titles">Assiged to you </ion-label>
                    <ion-label class="content">Rajesh kumar</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label class="titles">Priority</ion-label>
                    <ion-label class="content">MEdium</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label class="titles">Attachment</ion-label>
                    <ion-label class="content">02</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-img style="width: 20px;     filter: invert(1);" src="../../../../assets/images/settings.png">
                    </ion-img>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-grid class="p-0">
                      <ion-row>
                        <ion-col>
                          <ion-label>{{item.task}}</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-label>{{item.date}}</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-img style="width: 20px; filter: invert(1);" src="../../../../assets/images/settings.png">
                          </ion-img>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                    <ion-grid class="p-0">
                      <ion-label class="titles">Sub -Tasks</ion-label>
                      <ion-row class="tast_row" *ngFor="let sub of item.subtask">
                        <ion-col size="12" class="tasks_cols">
                          <ion-label class="content">{{sub.task}}</ion-label>
                          <ion-label class="contents">{{sub.date}}</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="task-note-bottom">
  <ion-row>
    <ion-col class="text-center">
      <ion-label>Upcoming tasks on 13th</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>