<div class="calendar-header">
    <ion-row class="calendar-month">
        <ion-col class="arrow_box" (click)="previousWeek()">
            <ion-icon name="chevron-back-outline" color="#263238"></ion-icon>
        </ion-col>
        <ion-col class="month_box">
            <ion-label>{{date.format("MMM ")}}- {{weekNo}} Week</ion-label>
        </ion-col>
        <ion-col class="arrow_box" (click)="nextWeek()">
            <ion-icon name="chevron-forward-outline" color="#263238"></ion-icon>
        </ion-col>
    </ion-row>
</div>


<ion-grid style="background: white; margin: 10px;">
    <ion-row class="calendar-weekday">
        <ion-col [ngClass]=" item.selected ? 'current calendar_heading' :'other calendar_heading' " *ngFor="let item of days;let i = index" (click)="onClick(item,i)">
            <div>
                <div [ngClass]=" item.selected ? 'week-current' :'other' ">
                    <ion-label class="heading">{{ item.lbl }}</ion-label>
                    <ion-label class="date">{{ item.day }}</ion-label>
                </div>
                <div class="dates_slotes" *ngIf="item.total_task !=0 || item.total_due_date != 0 || item.total_extensions !=0">
                    <span class="cricle" *ngIf="item.total_due_date !=undefined && item.total_due_date != 0">{{item.total_due_date}}</span>
                    <span class="squre" *ngIf="item.total_task !=undefined &&  item.total_task !=0">{{item.total_task}}</span>
                    <span class="extention" *ngIf="item.total_extensions !=undefined &&  item.total_extensions !=0">{{item.total_extensions}}</span>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-grid class="gov-due">
    <ion-row>
        <ion-col>
            <ion-grid class="gov">
                <ion-row class="due_date_head">
                    <ion-col style="max-width: calc(100% - 60px); flex: 0 0 100%;">
                        <ion-label class="titles">Govt. Due Dates <span>({{govDueDates.length +
                                extensions.length}})</span>
                        </ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label class="viewbtn">View all</ion-label>
                    </ion-col>
                </ion-row>
                <no-task lblValue="No Due Date Today" imgPath="assets/images/calendar_bro.png" *ngIf="govDueDates.length == 0 && extensions.length == 0"></no-task>
                <ion-row class="chklist" *ngFor="let item of govDueDates">
                    <span class="shaprator" style="background-color: #218f8b;"></span>
                    <ion-col>
                        <ion-label class="gray" style="margin-top: 10px;">{{item.heading}}</ion-label>
                        <ion-item *ngIf="item.is_disabled">
                            <ion-label style="margin: 0px;">{{item.content}}</ion-label>
                            <ion-checkbox slot="start" [disabled]="item.is_disabled" [checked]="item.is_disabled">
                            </ion-checkbox>
                        </ion-item>
                        <ion-item *ngIf="!item.is_disabled">
                            <ion-label>{{item.content}}</ion-label>
                            <ion-checkbox slot="start" [(ngModel)]="item.isCheck"></ion-checkbox>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="chklist" *ngFor="let item of extensions">
                    <span class="shaprator" style="background-color: #7e0417;"></span>
                    <ion-col>
                        <ion-label class="gray" style="margin-top: 10px;">{{item.heading}}</ion-label>
                        <ion-item *ngIf="item.is_disabled">
                            <ion-label style="margin: 0px;">{{item.content}}</ion-label>
                            <ion-checkbox slot="start" [disabled]="item.is_disabled" [checked]="item.is_disabled">
                            </ion-checkbox>
                        </ion-item>
                        <ion-item *ngIf="!item.is_disabled">
                            <ion-label>{{item.content}}</ion-label>
                            <ion-checkbox slot="start" [(ngModel)]="item.isCheck"></ion-checkbox>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="checkAnyOneEnable()">
                    <ion-col size="12" class="p-0">
                        <ion-item>
                            <ion-label position="floating">Compliance remarks</ion-label>
                            <ion-input [(ngModel)]="remarks"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="p-0">
                        <ion-button class="complete" (click)="markAsComplete()">
                            <ion-icon name="checkmark-circle-outline"></ion-icon> Mark as complete
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-grid class="task-list">
    <ion-row>
        <ion-col size="12">
            <ion-grid class="task_box_hed">
                <ion-row class="head">
                    <ion-col>
                        <ion-label class="title">Tasks <span>({{tasksCount | number : '1.0-2' }})</span></ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label class="btn_ink">View all</ion-label>
                    </ion-col>
                </ion-row>
                <ion-segment *ngIf="assignedByYou.length !=0 || assignedToYou.length !=0 " [(ngModel)]="selectedTaskTab" (ionChange)="segmentChanged($event)">
                    <ion-segment-button value="toYou">
                        <ion-label>Assigned to you</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="byYou">
                        <ion-label>Assigned by you</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-grid>
            <ion-grid class="p-0 tasks">
                <div class="grid_content" *ngIf="tasks != undefined && selectedTaskTab =='toYou'">
                    <no-task lblValue="No Tasks Today" imgPath="assets/images/no_data_cuate.png" *ngIf="assignedToYou.length == 0">
                    </no-task>
                    <ion-row class="tast_row" *ngFor="let item of assignedToYou">
                        <ion-col size="12" class="tasks_cols">
                            <ion-item *ngIf="item.completionstatus">
                                <ion-checkbox slot="start" [disabled]="item.completionstatus" [checked]="item.completionstatus">
                                </ion-checkbox>
                                <div style="z-index: 2;" (click)="viewTask(item)">
                                    <ion-label class="titles">{{item.taskname}}</ion-label>
                                    <ion-label class="contents">{{ formateDatemain(item.due_date)}}</ion-label>
                                </div>
                            </ion-item>
                            <ion-item *ngIf="!item.completionstatus">
                                <ion-checkbox slot="start" [(ngModel)]="item.isCheck" (ionChange)="tasksMark($event,item)">
                                </ion-checkbox>
                                <div style="z-index: 2;" (click)="viewTask(item)">
                                    <ion-label class="titles">{{item.taskname}}</ion-label>
                                    <ion-label class="contents">{{ formateDatemain(item.due_date)}}</ion-label>
                                </div>
                            </ion-item>
                            <div class="nitification_io">
                                <ion-img src="../../../../assets/images/m_notification.png"></ion-img>
                            </div>
                        </ion-col>

                        <ion-col size="12" *ngIf="item.child_task.length > 0">
                            <ion-grid class="sub_tasks_blocks">
                                <ion-row class="p-0 ">
                                    <ion-col class="p-0">
                                        <ion-label class="titles">Sub tasks</ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngFor="let sub of item.child_task" class="p-0 sub_tasks_listas" style="align-items: center;">
                                    <ion-col class="auto_cols">
                                        <ion-item *ngIf="sub.completionstatus">
                                            <ion-checkbox [disabled]="sub.completionstatus" [checked]="sub.completionstatus">
                                            </ion-checkbox>
                                            <ion-label class="titles" style="white-space: normal;">{{sub.taskname}}
                                            </ion-label>
                                        </ion-item>
                                        <ion-item *ngIf="!sub.completionstatus">
                                            <ion-checkbox [(ngModel)]="sub.isCheck">
                                            </ion-checkbox>
                                            <ion-label class="titles">{{sub.taskname}}
                                            </ion-label>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col style="flex: 0 0; white-space: nowrap;">
                                        <ion-label class="contents">{{ formateDate(sub.due_date)}}</ion-label>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                        <ion-col size="12">
                            <ion-grid class="p-0" *ngIf="item.assigned_by_user_details != undefined">
                                <ion-row class="assigned_row">
                                    <ion-col>
                                        <ion-label class="contents">Assigned by </ion-label>
                                        <div class="names_box">
                                            <span class="icons">{{global.oneLater(item.assigned_by_user_details.full_name)}}</span>
                                            <ion-label class="titles">{{item.assigned_by_user_details.full_name}}
                                            </ion-label>
                                        </div>
                                    </ion-col>
                                    <ion-col class="center">
                                        <ion-label class="contents">Priority</ion-label>
                                        <ion-label class="contents">
                                            <i [ngStyle]="{'background': item.number_of_dots > 0 ? item.task_priority_color : '' }"></i>
                                            <i [ngStyle]="{'background': item.number_of_dots > 1 ? item.task_priority_color : '' }"></i>
                                            <i [ngStyle]="{'background': item.number_of_dots > 2 ? item.task_priority_color : '' }"></i> {{item.task_priority}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col class="right">
                                        <ion-label class="contents">Attachments</ion-label>
                                        <ion-label class="titles">
                                            <ion-img src="assets/icon/attachment_2.webp"></ion-img>
                                            {{item.task_document.length}}
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="button_boxs" *ngIf="!item.completionstatus">
                                    <ion-col size="12" class="p-0">
                                        <ion-button class="complete" (click)="markAsCompleteTask(item)">
                                            <ion-icon name="checkmark"></ion-icon> Mark as complete
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="grid_content" *ngIf="tasks != undefined && selectedTaskTab =='byYou'">
                    <no-task *ngIf="assignedByYou.length == 0" imgPath="assets/images/no_data_cuate.png"></no-task>
                    <ion-row class="tast_row" *ngFor="let item of assignedByYou">
                        <ion-col size="12">
                            <ion-grid class="p-0" *ngIf="item.assigned_user_details != undefined">
                                <ion-row class="assigned_row">
                                    <ion-col>
                                        <ion-label class="contents">Assigned to </ion-label>
                                        <div class="names_box">
                                            <span class="icons">{{global.oneLater(item.assigned_user_details.full_name)}}</span>
                                            <ion-label class="titles">{{item.assigned_user_details.full_name}}
                                            </ion-label>
                                        </div>
                                    </ion-col>
                                    <ion-col class="center">
                                        <ion-label class="contents">Priority</ion-label>
                                        <!-- <ion-label class="contents"><i></i><i></i><i></i> {{item.task_priority}}
                                        </ion-label> -->
                                        <ion-label class="contents"><i [ngStyle]="{'background': item.number_of_dots > 0 ? item.task_priority_color : '' }"></i><i [ngStyle]="{'background': item.number_of_dots > 1 ? item.task_priority_color : '' }"></i><i [ngStyle]="{'background': item.number_of_dots > 2 ? item.task_priority_color : '' }"></i>                                            {{item.task_priority}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col class="right">
                                        <ion-label class="contents">Attachments</ion-label>
                                        <ion-label class="titles">
                                            <ion-img src="assets/icon/attachment_2.webp"></ion-img>
                                            {{item.task_document.length}}
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                        <ion-col size="12" class="tasks_cols">
                            <ion-item *ngIf="item.completionstatus">
                                <div>
                                    <ion-label class="titles">{{item.taskname}}</ion-label>
                                    <ion-label class="contents">{{ formateDatemain(item.due_date)}}</ion-label>
                                </div>
                            </ion-item>
                            <ion-item *ngIf="!item.completionstatus">
                                <div>
                                    <ion-label class="titles">{{item.taskname}}</ion-label>
                                    <ion-label class="contents">{{ formateDatemain(item.due_date)}}</ion-label>
                                </div>
                            </ion-item>
                            <div class="edit_task" (click)="updateTask(item)">
                                <ion-img src="../../../../assets/images/Edit.svg"></ion-img>
                            </div>
                        </ion-col>
                        <ion-col size="12" *ngIf="item.child_task.length > 0">
                            <ion-grid class="sub_tasks_blocks">
                                <ion-row class="p-0 ">
                                    <ion-col class="p-0">
                                        <ion-label class="titles">Sub tasks</ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngFor="let sub of item.child_task" class="p-0 sub_tasks_listas deletewith" style="align-items: center;">

                                    <ion-col class="auto_cols">
                                        <ion-item *ngIf="sub.completionstatus">
                                            <ion-label class="titles" style="white-space: normal;">{{sub.taskname}}
                                            </ion-label>
                                        </ion-item>
                                        <ion-item *ngIf="!sub.completionstatus">
                                            <ion-label class="titles">{{sub.taskname}}</ion-label>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col style="flex: 0 0; white-space: nowrap;">
                                        <ion-label class="contents">{{ formateDate(sub.due_date)}}</ion-label>
                                    </ion-col>
                                    <div class="delete">
                                        <ion-label (click)="deleteTask(item)">Remove</ion-label>
                                    </div>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-grid>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-grid class="task-note-bottom">
    <ion-row>
        <ion-col class="text-center">
            <ion-label>Upcoming tasks on {{upcommingTaskByYou}}</ion-label>
        </ion-col>
    </ion-row>
</ion-grid>