<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row style="align-items: center;">
        <ion-col style="flex: 0 0 30px;">
          <ion-img style="padding:5px" src="../../../assets/images/back.png" (click)="global.backPage()"></ion-img>
        </ion-col>
        <ion-col>Create</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input [(ngModel)]="desc"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Start Date</ion-label>
          <ion-datetime [(ngModel)]="startDate" [min]="minDate"></ion-datetime>
          <ion-img src="../../../assets/images/calendar.png"></ion-img>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Due Date</ion-label>
          <ion-datetime [min]="startDate" [(ngModel)]="dueDate"></ion-datetime>
          <ion-img src="../../../assets/images/calendar.png"></ion-img>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="border">
        <ion-list-header>
          <ion-label>
            Set Priority
          </ion-label>
        </ion-list-header>
        <ion-radio-group [(ngModel)]="selPriority" [value]="selPriority" (ngModelChange)="onSelectedPriority()" >
          <ion-item *ngFor="let item of taskPriority">
            <ion-label>{{item.taskpriority}}</ion-label>
            <ion-radio value="{{item.taskpriority_id}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button style="width: 100%;
    display: block;
    margin: 15px auto 5px auto;
    max-width: 250px;" class="btn-2" (click)="addSubTask()">+ Add Sub Task</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <!-- <tag-input [ngModel]="userIds" ></tag-input> -->
          <ion-item style="width: 100%;">
            <ion-label position="floating">Assign to*</ion-label>
      <ion-select multiple="true" [(ngModel)]="selectedUser" (ionChange)="selectedUsers(selectedUsers)" placeholder="Please select users">
          <ion-select-option  *ngFor="let item of userIds" [value]="item" >{{item.full_name}}</ion-select-option>
      </ion-select>
          </ion-item>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin-top: 10px;">
        <ion-item>
          <ion-label>Set Reminder</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin-top: 10px;">
        <ion-item (click)="setAsRecurring()">
          <ion-label>Mark as recurring</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="margin: 10px auto;">
        <ion-button style="width: 80%; margin: 0 auto; display: block;" (click)="createTask()"> Create Task</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<recurring class="recurring" [startDate]="startDate" *ngIf="isRecurring" (change)="setAsRecurring()"></recurring>
<sub-task class="recurring" [startDate]="startDate" *ngIf="isSubTask" (change)="addSubTask()"></sub-task>