<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row style="align-items: center;">
        <ion-col style="flex: 0 0 30px;">
          <ion-img style="padding:5px" src="../../../assets/images/back.png" (click)="globle.backPage()"></ion-img>
        </ion-col>
        <ion-col>Create</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Start Date</ion-label>
          <ion-datetime></ion-datetime>
          <ion-img src="../../../assets/images/calendar.png"></ion-img>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Due Date</ion-label>
          <ion-datetime></ion-datetime>
          <ion-img src="../../../assets/images/calendar.png"></ion-img>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="border">
        <ion-list-header>
          <ion-label>
            Set Priority
          </ion-label>
        </ion-list-header>
        <ion-radio-group>
          <ion-item>
            <ion-label>Critical</ion-label>
            <ion-radio value="critical"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>High</ion-label>
            <ion-radio value="high"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Medium</ion-label>
            <ion-radio value="medium"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Low</ion-label>
            <ion-radio value="low"></ion-radio>
          </ion-item>

        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="btn-2" (click)="addSubTask()">+ Add Sub Task</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Assign to*</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Set Reminder</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item (click)="setAsRecurring()">
          <ion-label>Mark as recurring</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>Create Task</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<recurring class="recurring" *ngIf="isRecurring" (change)="setAsRecurring()"></recurring>
<sub-task class="recurring" *ngIf="isSubTask" (change)="addSubTask()"></sub-task>