node_modules
package-lock.json
resources/android/icon
resources/android/splash
resources/ios/icon
resources/ios/splash
ios-google-plush.png
resources1/.DS_Store
resources1/icon.png
resources1/README.md
resources1/splash-ol.png
resources1/splash.png
resources1/android/.DS_Store
resources1/android/icon/drawable-hdpi-icon.png
resources1/android/icon/drawable-ldpi-icon.png
resources1/android/icon/drawable-mdpi-icon.png
resources1/android/icon/drawable-nodpi-icon.png
resources1/android/icon/drawable-tvdpi-icon.png
resources1/android/icon/drawable-xhdpi-icon.png
resources1/android/icon/drawable-xxhdpi-icon.png
resources1/android/icon/drawable-xxxhdpi-icon.png
resources1/android/splash/.DS_Store
resources1/android/splash/drawable-land-hdpi-screen.png
resources1/android/splash/drawable-land-ldpi-screen.png
resources1/android/splash/drawable-land-mdpi-screen.png
resources1/android/splash/drawable-land-xhdpi-screen.png
resources1/android/splash/drawable-land-xxhdpi-screen.png
resources1/android/splash/drawable-land-xxxhdpi-screen.png
resources1/android/splash/drawable-port-hdpi-screen.png
resources1/android/splash/drawable-port-ldpi-screen.png
resources1/android/splash/drawable-port-mdpi-screen.png
resources1/android/splash/drawable-port-xhdpi-screen.png
resources1/android/splash/drawable-port-xxhdpi-screen.png
resources1/android/splash/drawable-port-xxxhdpi-screen.png
resources1/android/xml/network_security_config.xml
resources1/ios/.DS_Store
resources1/ios/icon/icon-20.png
resources1/ios/icon/icon-20@2x.png
resources1/ios/icon/icon-20@3x.png
resources1/ios/icon/icon-24@2x.png
resources1/ios/icon/icon-27.5@2x.png
resources1/ios/icon/icon-29.png
resources1/ios/icon/icon-29@2x.png
resources1/ios/icon/icon-29@3x.png
resources1/ios/icon/icon-40.png
resources1/ios/icon/icon-40@2x.png
resources1/ios/icon/icon-40@3x.png
resources1/ios/icon/icon-44@2x.png
resources1/ios/icon/icon-50.png
resources1/ios/icon/icon-50@2x.png
resources1/ios/icon/icon-60.png
resources1/ios/icon/icon-60@2x.png
resources1/ios/icon/icon-60@3x.png
resources1/ios/icon/icon-72.png
resources1/ios/icon/icon-72@2x.png
resources1/ios/icon/icon-76.png
resources1/ios/icon/icon-76@2x.png
resources1/ios/icon/icon-83.5@2x.png
resources1/ios/icon/icon-86@2x.png
resources1/ios/icon/icon-98@2x.png
resources1/ios/icon/icon-108@2x.png
resources1/ios/icon/icon-1024.png
resources1/ios/icon/icon-small.png
resources1/ios/icon/icon-small@2x.png
resources1/ios/icon/icon-small@3x.png
resources1/ios/icon/icon.png
resources1/ios/icon/icon@2x.png
resources1/ios/splash/.DS_Store
resources1/ios/splash/Default-568h@2x~iphone.png
resources1/ios/splash/Default-667h.png
resources1/ios/splash/Default-736h.png
resources1/ios/splash/Default-1792h~iphone.png
resources1/ios/splash/Default-2436h.png
resources1/ios/splash/Default-2688h~iphone.png
resources1/ios/splash/Default-Landscape-736h.png
resources1/ios/splash/Default-Landscape-1792h~iphone.png
resources1/ios/splash/Default-Landscape-2436h.png
resources1/ios/splash/Default-Landscape-2688h~iphone.png
resources1/ios/splash/Default-Landscape@~ipadpro.png
resources1/ios/splash/Default-Landscape@2x~ipad.png
resources1/ios/splash/Default-Landscape~ipad.png
resources1/ios/splash/Default-Portrait@~ipadpro.png
resources1/ios/splash/Default-Portrait@2x~ipad.png
resources1/ios/splash/Default-Portrait~ipad.png
resources1/ios/splash/Default@2x~iphone.png
resources1/ios/splash/Default@2x~universal~anyany.png
resources1/ios/splash/Default~iphone.png
src1/.DS_Store
src1/global.scss
src1/index.html
src1/main.ts
src1/polyfills.ts
src1/test.ts
src1/zone-flags.ts
src1/app/.DS_Store
src1/app/app-routing.module.ts
src1/app/app.component.html
src1/app/app.component.scss
src1/app/app.component.spec.ts
src1/app/app.component.ts
src1/app/app.module.ts
src1/app/auth/forgot-password/forgot-password.module.ts
src1/app/auth/forgot-password/forgot-password.page.html
src1/app/auth/forgot-password/forgot-password.page.scss
src1/app/auth/forgot-password/forgot-password.page.spec.ts
src1/app/auth/forgot-password/forgot-password.page.ts
src1/app/auth/forgot-password/reset-pass/reset-pass.module.ts
src1/app/auth/forgot-password/reset-pass/reset-pass.page.html
src1/app/auth/forgot-password/reset-pass/reset-pass.page.scss
src1/app/auth/forgot-password/reset-pass/reset-pass.page.spec.ts
src1/app/auth/forgot-password/reset-pass/reset-pass.page.ts
src1/app/auth/forgot-password/verification-code/verification-code.module.ts
src1/app/auth/forgot-password/verification-code/verification-code.page.html
src1/app/auth/forgot-password/verification-code/verification-code.page.scss
src1/app/auth/forgot-password/verification-code/verification-code.page.spec.ts
src1/app/auth/forgot-password/verification-code/verification-code.page.ts
src1/app/auth/login/login.module.ts
src1/app/auth/login/login.page.html
src1/app/auth/login/login.page.scss
src1/app/auth/login/login.page.spec.ts
src1/app/auth/login/login.page.ts
src1/app/auth/register/register.module.ts
src1/app/auth/register/register.page.html
src1/app/auth/register/register.page.scss
src1/app/auth/register/register.page.spec.ts
src1/app/auth/register/register.page.ts
src1/app/error-page/error-page.module.ts
src1/app/error-page/error-page.page.html
src1/app/error-page/error-page.page.scss
src1/app/error-page/error-page.page.spec.ts
src1/app/error-page/error-page.page.ts
src1/app/home/home.module.ts
src1/app/home/home.page.html
src1/app/home/home.page.scss
src1/app/home/home.page.spec.ts
src1/app/home/home.page.ts
src1/app/home/calender/month/month.component.html
src1/app/home/calender/month/month.component.scss
src1/app/home/calender/month/month.component.spec.ts
src1/app/home/calender/month/month.component.ts
src1/app/home/calender/week/week.component.html
src1/app/home/calender/week/week.component.scss
src1/app/home/calender/week/week.component.spec.ts
src1/app/home/calender/week/week.component.ts
src1/app/home/create/create.component.html
src1/app/home/create/create.component.scss
src1/app/home/create/create.component.spec.ts
src1/app/home/create/create.component.ts
src1/app/home/dashboard/dashboard.component.html
src1/app/home/dashboard/dashboard.component.scss
src1/app/home/dashboard/dashboard.component.spec.ts
src1/app/home/dashboard/dashboard.component.ts
src1/app/home/notification/notification.component.html
src1/app/home/notification/notification.component.scss
src1/app/home/notification/notification.component.spec.ts
src1/app/home/notification/notification.component.ts
src1/app/home/settings/settings.component.html
src1/app/home/settings/settings.component.scss
src1/app/home/settings/settings.component.spec.ts
src1/app/home/settings/settings.component.ts
src1/app/home/settings/about/about.module.ts
src1/app/home/settings/about/about.page.html
src1/app/home/settings/about/about.page.scss
src1/app/home/settings/about/about.page.spec.ts
src1/app/home/settings/about/about.page.ts
src1/app/home/settings/faq/faq.module.ts
src1/app/home/settings/faq/faq.page.html
src1/app/home/settings/faq/faq.page.scss
src1/app/home/settings/faq/faq.page.spec.ts
src1/app/home/settings/faq/faq.page.ts
src1/app/home/settings/notification-settings/notification-settings.module.ts
src1/app/home/settings/notification-settings/notification-settings.page.html
src1/app/home/settings/notification-settings/notification-settings.page.scss
src1/app/home/settings/notification-settings/notification-settings.page.spec.ts
src1/app/home/settings/notification-settings/notification-settings.page.ts
src1/app/home/settings/privacy/privacy.module.ts
src1/app/home/settings/privacy/privacy.page.html
src1/app/home/settings/privacy/privacy.page.scss
src1/app/home/settings/privacy/privacy.page.spec.ts
src1/app/home/settings/privacy/privacy.page.ts
src1/app/home/settings/profile/profile.module.ts
src1/app/home/settings/profile/profile.page.html
src1/app/home/settings/profile/profile.page.scss
src1/app/home/settings/profile/profile.page.spec.ts
src1/app/home/settings/profile/profile.page.ts
src1/app/home/settings/profile/change-pass/change-pass.module.ts
src1/app/home/settings/profile/change-pass/change-pass.page.html
src1/app/home/settings/profile/change-pass/change-pass.page.scss
src1/app/home/settings/profile/change-pass/change-pass.page.spec.ts
src1/app/home/settings/profile/change-pass/change-pass.page.ts
src1/app/home/settings/support/support.module.ts
src1/app/home/settings/support/support.page.html
src1/app/home/settings/support/support.page.scss
src1/app/home/settings/support/support.page.spec.ts
src1/app/home/settings/support/support.page.ts
src1/app/modals/confirmation/confirmation.module.ts
src1/app/modals/confirmation/confirmation.page.html
src1/app/modals/confirmation/confirmation.page.scss
src1/app/modals/confirmation/confirmation.page.spec.ts
src1/app/modals/confirmation/confirmation.page.ts
src1/app/modals/filter/filter.module.ts
src1/app/modals/filter/filter.page.html
src1/app/modals/filter/filter.page.scss
src1/app/modals/filter/filter.page.spec.ts
src1/app/modals/filter/filter.page.ts
src1/app/modals/note/note-routing.module.ts
src1/app/modals/note/note.module.ts
src1/app/modals/note/note.page.html
src1/app/modals/note/note.page.scss
src1/app/modals/note/note.page.spec.ts
src1/app/modals/note/note.page.ts
src1/app/modals/success/success.module.ts
src1/app/modals/success/success.page.html
src1/app/modals/success/success.page.scss
src1/app/modals/success/success.page.spec.ts
src1/app/modals/success/success.page.ts
src1/app/models/ResponseData.ts
src1/app/models/Users.ts
src1/app/services/api.service.spec.ts
src1/app/services/api.service.ts
src1/app/services/EventService.ts
src1/app/services/LoaderService.ts
src1/app/services/NavigationService.ts
src1/app/services/interceptor/LoadingInterceptorService.ts
src1/app/services/loading/loading.component.html
src1/app/services/loading/loading.component.scss
src1/app/services/loading/loading.component.ts
src1/app/shared/authguard.service.ts
src1/app/shared/GlobalProvider.ts
src1/app/shared/loginguard.service.ts
src1/app/shared/segment.model.ts
src1/app/shared/shared.module.ts
src1/app/shared/StorageService.ts
src1/app/task/edit-task/edit-task.module.ts
src1/app/task/edit-task/edit-task.page.html
src1/app/task/edit-task/edit-task.page.scss
src1/app/task/edit-task/edit-task.page.spec.ts
src1/app/task/edit-task/edit-task.page.ts
src1/app/task/list/list.module.ts
src1/app/task/list/list.page.html
src1/app/task/list/list.page.scss
src1/app/task/list/list.page.spec.ts
src1/app/task/list/list.page.ts
src1/app/task/recurring/recurring.component.html
src1/app/task/recurring/recurring.component.scss
src1/app/task/recurring/recurring.component.spec.ts
src1/app/task/recurring/recurring.component.ts
src1/app/task/sub-task/sub-task.component.html
src1/app/task/sub-task/sub-task.component.scss
src1/app/task/sub-task/sub-task.component.ts
src1/app/task/view/view.module.ts
src1/app/task/view/view.page.html
src1/app/task/view/view.page.scss
src1/app/task/view/view.page.spec.ts
src1/app/task/view/view.page.ts
src1/app/widgets/expand/expand.component.html
src1/app/widgets/expand/expand.component.scss
src1/app/widgets/expand/expand.component.spec.ts
src1/app/widgets/expand/expand.component.ts
src1/app/widgets/menu-item/menu-item.component.html
src1/app/widgets/menu-item/menu-item.component.scss
src1/app/widgets/menu-item/menu-item.component.spec.ts
src1/app/widgets/menu-item/menu-item.component.ts
src1/app/widgets/no-task/no-task.component.html
src1/app/widgets/no-task/no-task.component.scss
src1/app/widgets/no-task/no-task.component.spec.ts
src1/app/widgets/no-task/no-task.component.ts
src1/app/widgets/notification-item/notification-item.component.html
src1/app/widgets/notification-item/notification-item.component.scss
src1/app/widgets/notification-item/notification-item.component.spec.ts
src1/app/widgets/notification-item/notification-item.component.ts
src1/app/widgets/page-footer/page-footer.component.html
src1/app/widgets/page-footer/page-footer.component.scss
src1/app/widgets/page-footer/page-footer.component.spec.ts
src1/app/widgets/page-footer/page-footer.component.ts
src1/app/widgets/task-item/task-item.component.html
src1/app/widgets/task-item/task-item.component.scss
src1/app/widgets/task-item/task-item.component.spec.ts
src1/app/widgets/task-item/task-item.component.ts
src1/app/widgets/task-list-item/task-list-item.component.html
src1/app/widgets/task-list-item/task-list-item.component.scss
src1/app/widgets/task-list-item/task-list-item.component.spec.ts
src1/app/widgets/task-list-item/task-list-item.component.ts
src1/app/widgets/top-card/top-card.component.html
src1/app/widgets/top-card/top-card.component.scss
src1/app/widgets/top-card/top-card.component.spec.ts
src1/app/widgets/top-card/top-card.component.ts
src1/assets/.DS_Store
src1/assets/shapes.svg
src1/assets/fonts/proxima_nova_black-demo.html
src1/assets/fonts/proxima_nova_black.eot
src1/assets/fonts/proxima_nova_black.svg
src1/assets/fonts/proxima_nova_black.ttf
src1/assets/fonts/proxima_nova_black.woff
src1/assets/fonts/proxima_nova_black.woff2
src1/assets/fonts/proxima_nova_bold-demo.html
src1/assets/fonts/proxima_nova_bold.eot
src1/assets/fonts/proxima_nova_bold.svg
src1/assets/fonts/proxima_nova_bold.ttf
src1/assets/fonts/proxima_nova_bold.woff
src1/assets/fonts/proxima_nova_bold.woff2
src1/assets/fonts/proxima_nova_extrabold-demo.html
src1/assets/fonts/proxima_nova_extrabold.eot
src1/assets/fonts/proxima_nova_extrabold.svg
src1/assets/fonts/proxima_nova_extrabold.ttf
src1/assets/fonts/proxima_nova_extrabold.woff
src1/assets/fonts/proxima_nova_extrabold.woff2
src1/assets/fonts/proxima_nova_light-demo.html
src1/assets/fonts/proxima_nova_light.eot
src1/assets/fonts/proxima_nova_light.svg
src1/assets/fonts/proxima_nova_light.ttf
src1/assets/fonts/proxima_nova_light.woff
src1/assets/fonts/proxima_nova_light.woff2
src1/assets/fonts/proxima_nova_regular-demo.html
src1/assets/fonts/proxima_nova_regular.eot
src1/assets/fonts/proxima_nova_regular.svg
src1/assets/fonts/proxima_nova_regular.ttf
src1/assets/fonts/proxima_nova_regular.woff
src1/assets/fonts/proxima_nova_regular.woff2
src1/assets/fonts/proxima_nova_semibold-demo.html
src1/assets/fonts/proxima_nova_semibold.eot
src1/assets/fonts/proxima_nova_semibold.svg
src1/assets/fonts/proxima_nova_semibold.ttf
src1/assets/fonts/proxima_nova_semibold.woff
src1/assets/fonts/proxima_nova_semibold.woff2
src1/assets/fonts/proxima_nova_thin_italic-demo.html
src1/assets/fonts/proxima_nova_thin_italic.eot
src1/assets/fonts/proxima_nova_thin_italic.svg
src1/assets/fonts/proxima_nova_thin_italic.ttf
src1/assets/fonts/proxima_nova_thin_italic.woff
src1/assets/fonts/proxima_nova_thin_italic.woff2
src1/assets/fonts/proxima_nova_thin-demo.html
src1/assets/fonts/proxima_nova_thin.eot
src1/assets/fonts/proxima_nova_thin.svg
src1/assets/fonts/proxima_nova_thin.ttf
src1/assets/fonts/proxima_nova_thin.woff
src1/assets/fonts/proxima_nova_thin.woff2
src1/assets/icon/attachment_2.webp
src1/assets/icon/favicon.png
src1/assets/icon/favicon1.png
src1/assets/images/add.png
src1/assets/images/back.png
src1/assets/images/calendar_bro.png
src1/assets/images/calendar.png
src1/assets/images/cam.png
src1/assets/images/close_lt.png
src1/assets/images/close.png
src1/assets/images/compliance_extension.png
src1/assets/images/compliance.png
src1/assets/images/dashboard.png
src1/assets/images/delivered.png
src1/assets/images/Edit.svg
src1/assets/images/filter.png
src1/assets/images/forgot-top.png
src1/assets/images/Incomplete.png
src1/assets/images/index.svg
src1/assets/images/login_top.png
src1/assets/images/logout.png
src1/assets/images/m_about.png
src1/assets/images/m_customer_service.png
src1/assets/images/m_faq.png
src1/assets/images/m_notification.png
src1/assets/images/m_privacy_policy.png
src1/assets/images/m_rateus.png
src1/assets/images/m_sync.png
src1/assets/images/no_data_cuate.png
src1/assets/images/notification.png
src1/assets/images/plus.png
src1/assets/images/refresh_line.png
src1/assets/images/settings.png
src1/assets/images/sign-up-top.png
src1/assets/images/spam-line.svg
src1/assets/images/success.png
src1/assets/images/t_calendar.png
src1/assets/images/task.png
src1/assets/images/vector.png
src1/assets/images/view.png
src1/assets/images/web.png
src1/assets/js/custom.js
src1/assets/js/jquery-3.1.1.js
src1/assets/js/jquery.min.js
src1/environments/environment.prod.ts
src1/environments/environment.prod.ts.example
src1/environments/environment.ts
src1/theme/variables.scss
