<ion-content #content>
  <ion-grid class="forms_grids">
    <top-card fromPage="" imgPath="../../../assets/images/sign-up-top.png"> </top-card>

    <ion-row>
      <ion-col>
        <ion-label class="heading">Sign Up</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email id</ion-label>
          <ion-input placeholder="yourregisteremail@company.com"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Company Name</ion-label>
          <ion-input placeholder="Enter company name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input placeholder="Enter your phone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input placeholder="Enter password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-button expand="round">Get Started</ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-label>You have account? Login</ion-label>
      </ion-col>
    </ion-row> -->

  </ion-grid>
</ion-content>
