.main-row{
  background: white;
  padding: 10px;
  margin: 10px;
}
.right-lbl{
  flex: 0 0 85px;
    text-align: right;
}
ion-label.gray {
  color: #80657c91 !important;
font-size: 13px !important;
line-height: normal;
display: block;
margin-bottom: 6px;
}

.nmLblView{
    width: 30px;
    height: 30px;
    border: 1px solid #7e0417;
    background: #7e0417;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 1px #7e0417;
}
.nmLbl{
  text-transform: capitalize;
  font-size: 18px !important;
  margin: 0 auto;
  line-height: 27px;
  color: white !important;
}



.task_box {
	display: flex;
	align-items: center;
	text-align: center;
}

.task_box .name {
	font-family: 'proxima_nova_thextrabold';
	font-size: 15px !important;
	padding-left: 5px !important;
}

.task_boxss {
	justify-content: space-between !important;
display: flex !important;
position: relative;
margin-bottom: 10px;
}
.task_boxss::after {
	content: "";
	display: block;
	width: calc(100% + 20px);
	position: absolute;
	left: -10px;
	bottom: 0px;
	background: #f2f2f2;
	height: 1px;
}

.task_boxss ion-col {
	flex: 0 0;
	white-space: nowrap !important;
	padding: 5px 0 10px 0px;
}


.content {
	display: block;
	line-height: 18px;
	margin-bottom: 10px;
}

.content.txtred {
	color: #ed1a3b !important;
}

.subtasks {
	background: #f8f8f8 !important;
	width: calc(100% + 20px);
	left: -10px;
	position: relative;
	padding: 10px;
	margin-bottom: -10px;
	padding-bottom: 10px;
}

.title {
	font-family: 'proxima_nova_ltsemibold' !important;
	display: block;
}


.tsk_date {
	padding: 6px;
	justify-content: space-between;
	background: #e7e7e7;
	margin: 5px 0;
}

.tsk_date .content {
	margin: 0px;
}

.tsk_date ion-col:last-child {
	flex: 0 0;
	white-space: nowrap;
	color: #80657c91;
}
.tsk_date ion-col:last-child ion-label{
	color: #80657c91 !important;
}