<ion-row class="main-row">
  <ion-col>
    <ion-label class="gray">Tax Manager</ion-label> 
    <ion-row class="task_boxss">
      <ion-col>
          <div class="task_box" *ngIf="type == '0'">
                <ion-label class="icons">  
                  <div class="nmLblView"><ion-label class="nmLbl">R</ion-label></div>
                </ion-label>
                <ion-label class="name">Rajesh Kumar</ion-label>
          </div>
          <div class="task_box" *ngIf="type == '1'">
            <ion-label class="icons multipal">  
              <div class="nmLblView"><ion-label class="nmLbl">R</ion-label></div>
              <div class="nmLblView"><ion-label class="nmLbl">P</ion-label></div>
              <div class="nmLblView"><ion-label class="nmLbl">V</ion-label></div>
              <div class="nmLblView"><ion-label class="nmLbl">B</ion-label></div>
              <div class="nmLblView"><ion-label class="nmLbl">C</ion-label></div>
            </ion-label>
            <ion-label class="name">+1</ion-label>
      </div>
      </ion-col>
      <ion-col style="color: #df8639; display: flex; align-items: center;"><ion-img style="width: 20px; margin-right: 5px;" src="../../../assets/images/Incomplete.png"></ion-img>Incomplete</ion-col>
    </ion-row>   
    <ion-row >
      <ion-col size="12">
        <ion-label class="content"><del>File GSTR1 for 2020-21 for the Haryana, Maharashtra, Chennai</del></ion-label>
      </ion-col>
      <ion-col class="12">
        <ion-label class="content txtred">Due Today</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="subtasks">
      <ion-col>
        <ion-label class="title">Sub tasks</ion-label>
        <ion-row class="tsk_date">
          <ion-col>
            <ion-label class="content"><del>Upload the respective trade name sale register</del></ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="content text-right">20 jul</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="tsk_date">
          <ion-col>
            <ion-label class="content"><del>Upload the respective trade name sale register</del></ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="content text-right">20 jul</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>