<ion-row class="main-row">
  <ion-col>
    <ion-row >
      <ion-col>
        <ion-label>Calculate amount of IGST applicable for GSTR-1</ion-label>
      </ion-col>
      <ion-col class="right-lbl"  >
        <ion-label>In Progress</ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col style="display: flex; align-items: center;">
        <ion-img style="width: 50px;padding: 5px; filter: invert(100%);" src="../../../assets/images/settings.png"></ion-img>
        <ion-label style="padding: 10px;">Vikram Gupta</ion-label>
      </ion-col>
      <ion-col class="right-lbl">
        <ion-label>Due Today</ion-label>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>