.main-row{
  background: white;
  padding: 10px;
  margin: 10px;
}
.right-lbl{
  flex: 0 0 85px;
    text-align: right;
}
ion-label.gray {
  color: #80657c91 !important;
font-size: 13px !important;
line-height: normal;
display: block;
margin-bottom: 6px;
}

.nmLblView{
    width: 30px;
    height: 30px;
    border: 1px solid #7e0417;
    background: #7e0417;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 1px #7e0417;
}
.nmLbl{
  text-transform: capitalize;
  font-size: 18px !important;
  margin: 0 auto;
  line-height: 27px;
  color: white !important;
}



.task_box {
	display: flex;
	align-items: center;
	text-align: center;
}

.task_box .name {
	font-family: 'proxima_nova_thextrabold';
	font-size: 15px !important;
	padding-left: 5px !important;
}

.task_boxss {
	justify-content: space-between !important;
	display: flex !important;
}