<ion-row class="main-row">
  <ion-col>
    <ion-row>
      <ion-col>
        <ion-label>In Progress</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="avatar">
        <ion-img src="../../../assets/images/settings.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col class="content">
            <ion-label>Assigned by Priti Sharma</ion-label>
            <ion-label>Calculate amount of IGST applicable for GSTR-1</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button>Mark as complete</ion-button>
          </ion-col>
          <ion-col class="right-lbl">
            <ion-label>july 06,2021 14:00</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>