<ion-grid>
  <ion-row>
    <ion-col>
      <ion-searchbar></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row style="margin: 10px 0px">
    <ion-col>
      <ion-radio-group [(ngModel)]="selAction">
        <ion-item>
          <ion-label>Today</ion-label>
          <ion-radio value="today"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Weekly</ion-label>
          <ion-radio value="weekly"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Monthly</ion-label>
          <ion-radio value="monthly"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Yearly</ion-label>
          <ion-radio value="yearly"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="background: white; padding: 10px">
      <ion-label (click)="callList(0)">12 Tasks</ion-label>
      <canvas #barChart></canvas>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-col style="border-bottom: 15px solid #0c365e">
          <div (click)="callList(1)">
            <ion-label>06/12</ion-label>
            <ion-label>Completed</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="border-bottom: 15px solid #d94c49">
          <div (click)="callList(2)">
            <ion-label>04/12</ion-label>
            <ion-label>Pending</ion-label>
          </div>
        </ion-col>

        <ion-col style="border-bottom: 15px solid #bbcddf">
          <div (click)="callList(3)">
            <ion-label>02/12</ion-label>
            <ion-label>Rejected</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="spacing">
    <ion-col>
      <ion-row>
        <ion-col>
          <ion-label>02</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Compliance</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Quartky statement of TCS deposited for quarter</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Quartky statement of TDS deposited for the quarter
            ending</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="spacing">
    <ion-col>
      <ion-label>Track Tasks (assigned by you) </ion-label>
      <ion-segment [(ngModel)]="selAction">
        <ion-segment-button value="today">
          <ion-label>Today</ion-label>
        </ion-segment-button>
        <ion-segment-button value="upcoming">
          <ion-label>Upcoming</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
  <!-- <ion-row style="margin: 10px 0px">
    <ion-col>
      <ion-radio-group [(ngModel)]="selAction">
        <ion-item>
          <ion-label>Today</ion-label>
          <ion-radio value="today"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Upcoming</ion-label>
          <ion-radio value="upcoming"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-col>
  </ion-row> -->
  <task-item></task-item>
  <task-item></task-item>
  <task-item></task-item>
</ion-grid>