ion-grid{
  padding: 0px;
}
.spacing{
    margin: 10px 0px;
    background: white;
    padding: 10px;
}
ion-radio-group{
  display: flex;
}

ion-item {
  --background: white;
    background: white;
    margin: 0 5px;
    --min-height: 40px;
    border-radius: 5px;
}
ion-radio{
  opacity: 0;
  width: 0;
  height: 0;
}
 .item-radio-checked{
  --background: #cbd7e3;
    background: #cbd7e3;
}



.card_chart {
	align-items: flex-end;
	background: #e8e8e8;
}

.chart_box {
	padding: 15px;
	background: #fff;
	min-height: 140px;
	text-align: center;
}

.chart_box ion-label {
	color: #02a5e2 !important;
	font-size: 15px !important;
	font-weight: 600;
	letter-spacing: 0.8px;
	display: block;
	margin-bottom: 10px;

}

.chart_indicator div {
	padding: 14px 10px 4px 10px;
}
.card_chart .titles {
	font-size: 16px !important;
	font-weight: 600;
	color: #333 !important;
	display: block;
	line-height: 14px !important;
}

.card_chart .titles span {
	color: #ccc;
	font-size: 13px !important;
	display: inline-block;
	vertical-align: bottom;
	font-weight: 400;
}


.due_date {
	background: #fff;
	margin-top: 15px;
	padding: 15px 15px 0px 15px;
	border-radius: 15px 15px 0px 0px;
}

.saprator {
	background: #33657c91;
	width: 40px;
	height: 2px;
	display: block;
	position: relative;
	margin: 0 auto;
	top: -6px;
}


ion-checkbox{
	--background-checked: #333333;
	--border-color-checked: #333333;
	margin-inline-end: 10px;
	margin-right: 10px;
	margin-top: 8px !important;
	margin-bottom:0px !important;
	border-radius: 0px !important;
  --border-radius: 0px !important;
  margin-left: 0px !important;
  }
  
  
  ion-item {
	--background: white;
	background: white;
	margin: 0px;
	--min-height: auto !important;
	border-radius: 0px;
	padding: 0px !important;
	--padding-start: 0 !important;
	--inner-padding-end: 0px !important;
	--inner-border-width: 0px !important;
	display: flex !important;
align-items: flex-start !important;
}

ion-label.gray {
	color: #80657c91 !important;
	font-size: 13px !important;
	display: block;
	line-height: normal;
	padding-left: 30px;
}

ion-item ion-label {
	display: block !important;
	white-space: normal !important;
	margin: 0px !important;
	padding: 0px !important;
	padding-top: 5px !important;
	padding-bottom: 15px !important;
}


.due_date_head {
	justify-content: space-between;
}

.due_date_head .titles {
	font-weight: 700;
	letter-spacing: 0.5px;
}
.due_date_head .titles span {font-weight: 400;}
.viewbtn {
	float: right;
	color: #02a5e2 !important;
}



ion-segment {
	margin: 0px;
	padding: 0px;
	margin-bottom: -11px;
	text-align: center !important;
}

ion-segment-button {
	text-transform: capitalize;
	font-family: "proxima_nova_rgregular";
	color: #333333 !important;
	--padding-top: 0;
	--padding-end: 0 !important;
	--padding-bottom: 0;
	--padding-start: 0px !important;
	--border: none !important;
	min-height: auto !important;
	--ion-color-primary: transparent !important;
	margin-bottom: 0px !important;
}

ion-segment-button ion-label {
	margin-top: 10px !important;
	margin-bottom: 0 !important;
	display: inline-block !important;
	width: auto !important;
	position: relative;
	padding-bottom: 4px;
}

ion-segment-button ion-label::after {
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0px;
	display: none !important;
	content: "";
	background: #02a5e2;
	
}
ion-segment-button.segment-button-checked ion-label {
	font-family: 'proxima_nova_thextrabold';
}
ion-segment-button.segment-button-checked ion-label::after {
	display: block !important;
}
