<ion-content class="ion-padding">
  <div>
    <ion-img src="../../../assets/images/success.png"> </ion-img>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-label> Successful!</ion-label>>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-label> Password Rest Successful,</ion-label>>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-label> Go back to Login and enter your New Password</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button>Back to Login</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>


</ion-content>