<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row style="align-items: center;">
        <ion-col style="flex: 0 0 30px;"> <ion-img style="padding:5px" src="../../../assets/images/back.png" (click)="globle.backPage()"></ion-img> </ion-col>
        <ion-col>Task Details</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Start Date</ion-label>
          <ion-input></ion-input>
          <ion-img src="../../../assets/images/calendar.png"></ion-img>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Due Date</ion-label>
          <ion-input></ion-input>
          <ion-img src="../../../assets/images/calendar.png"></ion-img>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="border">
        <ion-list-header>
          <ion-label>
            Set Priority
          </ion-label>
        </ion-list-header>
        <ion-radio-group [(ngModel)]="priority">
          <!-- <ion-item>
            <ion-label>Critical</ion-label>
            <ion-radio value="critical"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>High</ion-label>
            <ion-radio value="high"></ion-radio>
          </ion-item> -->

          <ion-item>
            <ion-label>Medium</ion-label>
            <ion-radio value="medium"></ion-radio>
          </ion-item>

          <!-- <ion-item>
            <ion-label>Low</ion-label>
            <ion-radio value="low"></ion-radio>
          </ion-item> -->

        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-label>Sub Task</ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>Upload the New outward data first</ion-label>                
              </ion-col>
              <ion-col style="flex: 0 0 ;">
                <ion-label>18/07/2021</ion-label>                
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Assign to</ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img class="assign-img" style="margin-left: -0px;" src="../../../assets/images/calendar.png"></ion-img>
              <ion-img class="assign-img"style="margin-left: -20px;" src="../../../assets/images/settings.png"></ion-img>
              <ion-img class="assign-img" style="margin-left: -20px;" src="../../../assets/images/notification.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Set Reminder</ion-label>
          <ion-toggle ></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Mark as recuring</ion-label>
      </ion-col>
      <ion-col style="text-align: right;">
        <ion-label>Recurring every week</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="round">Mark as completed</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
