<ion-content #content>
  <top-card fromPage="" title="Forgot Password" imgPath="assets/images/forgot-top.png"> </top-card>
  <ion-grid class="forms_grids">
    <ion-row>
      <ion-col>
        <ion-label position="floating">New Password</ion-label>
        <ion-item class="field">
          <ion-input placeholder="Enter password"></ion-input>
        </ion-item>
        <div style="display: grid;">
          <ion-note>8 characters required</ion-note>
          <ion-note>Spacial characters required(!, @, #, $, %, -, _)</ion-note>
          <ion-note>CAPITAL Words required</ion-note>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Re-enter Password</ion-label>
        <ion-item class="field">
          <ion-input placeholder="Re enter password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="round">Set New Password</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>