<ion-content>

    <ion-grid class="forms_grids">
        <ion-row class="bottom-space" style="margin-top: 10px;">
            <ion-col>
                <ion-label position="floating">Name *</ion-label>
                <ion-item class="field">
                    <ion-input [disabled]="from == 'view'" [(ngModel)]="name"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="bottom-space">
            <ion-col>
                <ion-label position="floating">Description *</ion-label>
                <ion-item class="field">
                    <ion-textarea [disabled]="from == 'view'" [(ngModel)]="desc" rows="2"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="bottom-space">
            <ion-col size="6" style="padding-right: 8px;">
                <ion-label position="floating">Start Date *</ion-label>
                <ion-item class="field">
                    <ion-datetime displayFormat="DD/MM/YYYY" [disabled]="from == 'view'" [(ngModel)]="startDate" placeholder="DD/MM/YYYY" [min]="minDate" [max]="global.maxDate">
                    </ion-datetime>
                    <ion-img src="../../../assets/images/t_calendar.png"></ion-img>
                </ion-item>
            </ion-col>
            <ion-col size="6" style="padding-left: 8px;">
                <ion-label position="floating">Due Date *</ion-label>
                <ion-item class="field">
                    <ion-datetime displayFormat="DD/MM/YYYY" [disabled]="from == 'view'" [min]="startDate" [max]="maxDate" placeholder="DD/MM/YYYY" [(ngModel)]="dueDate">
                    </ion-datetime>
                    <ion-img src="../../../assets/images/t_calendar.png"></ion-img>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="bottom-space">
            <ion-col class="border radio_with_icons">
                <ion-list-header>
                    <ion-label style="color: rgba(101, 124, 145, 0.5) !important; font-size: 13px !important;">
                        Set Priority *
                    </ion-label>
                </ion-list-header>
                <ion-radio-group [(ngModel)]="selPriority" [disabled]="from == 'view'" [value]="selPriority" (ngModelChange)="onSelectedPriority()">
                    <ion-item style="margin-right: 5px; padding: 0px !important;" [style.color]="selPriority == item.taskpriority_id ? 'white' : 'black'" [style.background]="selPriority == item.taskpriority_id ? item.color_code : ''" *ngFor="let item of taskPriority">
                        <ion-label [style.color]="selPriority == item.taskpriority_id ? 'white' : 'black'" [style.background-color]="selPriority == item.taskpriority_id ? item.color_code : ''">
                            {{item.taskpriority}}</ion-label>
                        <ion-radio value="{{item.taskpriority_id}}"></ion-radio>
                    </ion-item>
                </ion-radio-group>
                <img class="Priority_icons" *ngIf="iconUrl != undefined" [src]="iconUrl" />
            </ion-col>
        </ion-row>
        <ion-row class="bottom-space sub_tsk" *ngIf="taskData == undefined ||  from == 'view'">
            <ion-col size="12" *ngIf="subTasks.length >0 || taskData.child_task.length >0">
                <ion-list-header>
                    <ion-label style="color: rgba(101, 124, 145, 0.5) !important; font-size: 13px !important;">Sub Tasks
                    </ion-label>
                </ion-list-header>
                <ion-list>
                    <ion-item style="--inner-padding-end: 0px !important;" *ngFor="let entry of subTasks; let i = index;">
                        <div style="display: block; width: 100%;">
                            <ion-label class="name">{{entry.name}}</ion-label>
                            <ion-label class="date" style="color: rgba(101, 124, 145, 0.5) !important; font-size: 13px !important;">
                                {{this.apiService.getDate(entry.value)}}</ion-label>
                        </div>
                        <ion-icon *ngIf="from != 'view'" class="remove_filds" name="close" (click)="removeSubTask(i)">
                        </ion-icon>
                        <ion-checkbox [disabled]="from == 'view'" style="margin-inline-end: 0px;--border-radius: 50%;" slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item style="--inner-padding-end: 0px !important;" *ngFor="let entry of taskData.child_task; let i = index;">
                        <div style="display: block; width: 100%;">
                            <ion-label class="name">{{entry.taskname}}</ion-label>
                            <ion-label class="date" style="color: rgba(101, 124, 145, 0.5) !important; font-size: 13px !important;">
                                {{this.apiService.getDate(entry.duedate)}}</ion-label>
                        </div>
                        <ion-checkbox [disabled]="from != 'view'" style="margin-inline-end: 0px;--border-radius: 50%;" slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col *ngIf="from != 'view'">
                <ion-button class="btn-2" (click)="addSubTask()">+ Add Sub Tasks</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="bottom-space">
            <ion-col>
                <!-- <ion-label position="floating">Assign to*</ion-label> -->
                <!-- <ng-select [(ngModel)]="selectedUser" multiple="true" placeholder="Assign to*" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeUser($event)">
                    <ng-option *ngFor="let user of userIds" [value]="user.generaluser_id"> {{user.full_name}}
                    </ng-option>
                </ng-select> -->
                <ng-select [items]="userIds" [disabled]="true" multiple="true" bindLabel="full_name" bindValue="generaluser_id" placeholder="Assign To *" [(ngModel)]="selectedUser" [ngModelOptions]="{standalone: true}">
                </ng-select>
            </ion-col>
        </ion-row>
        <!-- <ion-row class="bottom-space">
      <ion-col>
        <ion-label position="floating">Add Tag</ion-label>
        <ion-item class="field">
          <ion-input [(ngModel)]="tags" placeholder="enter tags"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->
        <ion-row *ngIf="taskData == undefined">
            <ion-col>
                <ion-item>
                    <ion-label>Set Reminder</ion-label>
                    <!-- <ion-toggl  [(ngModel)]="isRecurring"></ion-toggle> -->
                    <select [(ngModel)]="Reminder">
                        <option value="1">Before +1</option>
                        <option value="2">Before +2</option>
                        <option value="3">Before +3</option>
                        <option value="4">Before +4</option>
                        <option value="5">Before +5</option>
                        <option value="6">Before +6</option>
                        <option value="7">Before +7</option>
                        <option value="8">Before +8</option>
                        <option value="9">Before +9</option>
                        <option value="10">Before +10</option>
                    </select>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="taskData == undefined">
            <ion-col>
                <ion-item (click)="setAsRecurring()">
                    <ion-label>Mark as recurring</ion-label>
                    <ion-toggle [(ngModel)]="isRecurring"></ion-toggle>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="from != 'view'">
            <ion-col style="margin: 10px auto;">
                <ion-button (click)="createTask()"> {{taskData ==undefined?'Create':'Modify'}}</ion-button>
            </ion-col>
        </ion-row>
        <!-- <ion-row class="button_boxs" *ngIf="!item.completionstatus">
            <ion-col size="12" class="p-0">
                <ion-button class="complete" (click)="markAsCompleteTask(item)">
                    <ion-icon name="checkmark"></ion-icon> Mark as complete
                </ion-button>
            </ion-col>
        </ion-row> -->
        <ion-row *ngIf="from == 'view' && !taskData.completionstatus">
            <ion-col style="margin: 10px auto;">
                <ion-button (click)="markAsCompleteTask(taskData)"> Mark as complete </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>