.bottom-space {
    margin-bottom: 15px;
}

ion-radio-group {
    display: flex;
}

ion-radio {
    opacity: 0;
    width: 0;
    height: 0;
    // border: 1px solid #002e58;
}

.border ion-item {
    border: 1px solid #002e58;
}

.item-radio-checked ion-label {
    color: white !important;
}

.forms_grids ion-radio-group {
    flex-wrap: wrap !important;
    display: flex !important;
    margin: 0px -4px !important;
}

.forms_grids ion-radio-group ion-item {
    --border-color: transparent;
    --highlight-height: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    position: relative;
    --inner-padding-end: 0px;
    margin: 0px 4px;
}

.forms_grids ion-radio-group ion-item ion-label {
    padding: 5px;
    margin: 0px !important;
    display: block !important;
    border: none !important;
}

.forms_grids ion-radio-group .item-radio-checked ion-label  {
    //   --background: #7e0417;
    //   background  : #7e0417;
    color: white !important;
}

div {
    display: grid;
}

.recurring {
    position: fixed;
    background: white;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 111;
}

.recurring::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

ion-item ion-img {
    position: absolute;
    top: 1px;
    right: 0px;
    padding: 3px 0px 0px 3px;
    width: 25px;
    cursor: pointer;
    color: #000;
}

ion-list-header {
    padding: 0;
    margin: 0px;
    min-height: auto;
    margin-bottom: 5px;
}

ion-item ion-textarea {
    --padding-top: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    font-family: 'proxima_nova_ltsemibold';
    letter-spacing: 0.5px;
    font-size: 14px !important;
    margin-top: 0px;
}

ion-item ion-input {
    --padding-top: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    font-family: 'proxima_nova_ltsemibold';
    letter-spacing: 0.5px;
    font-size: 16px !important;
    margin-top: 0px;
    color: #333 !important;
}

.btn-blue {
    color: #02a5e2 !important;
    font-family: 'proxima_nova_rgbold';
    font-size: 15px !important;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.sub_tsk ion-list {
    padding: 0px !important;
    padding-top: 6px !important;
}

.sub_tsk ion-list ion-item {
    padding: 0px !important;
    display: flex;
    align-items: flex-start !important;
    margin-bottom: 2px !important;
    justify-content: space-between;
}

.sub_tsk ion-list ion-item ion-label {
    margin: 0px !important;
    padding: 0px !important;
    white-space: normal !important;
    font-family: 'proxima_nova_ltsemibold' !important;
    font-size: 16px !important;
    color: #333 !important;
    line-height: 18px;
    margin-bottom: 5px !important;
}

.sub_tsk ion-list ion-item ion-label.date {
    color: #80657c91 !important;
    font-family: "proxima_nova_rgregular" !important;
    // padding-left: 5px !important;
    display: block !important;
    white-space: nowrap !important;
    flex: 0 0 auto;
}

.sub_tsk ion-list ion-item ion-checkbox {
    min-height: auto !important;
    margin: 2px 5px 0px 0px !important;
    margin: 1px 10px 0px 0px !important;
    width: 18px !important;
    height: 18px !important;
}

.bottom-space ion-input {
    --padding-top: 8px;
    --padding-end: 0;
    --padding-bottom: 8px;
}

.bottom-space.sub_tsk {
	margin-bottom: 5px;
}


