.model_blocks ion-grid {
	margin: 0px;
	padding: 15px !important;
}
.model_headers ion-img {
	position: relative;
	width: 20px;
	float: right;
	display: block;
}

.model_headers .shaprator {
	background: #33657c91;
	width: 40px;
	height: 2px;
	display: block;
	position: relative;
	margin: 0 auto;
	top: -6px;
}

.titles {
	font-family: 'proxima_nova_rgbold';
	font-size: 16px !important;
	letter-spacing: 0.5px;
}
.input_box {
	margin-top: 15px;
}
.input_box ion-input {
	border: 1px solid #657c91;
	width: 100% !important;
	display: block !important;
	color: #333 !important;
	font-size: 14px !important;
	font-family: "proxima_nova_ltsemibold";
	padding: 0px !important;
	--padding-top: 12px !important;
	--padding-end: 10px !important;
	--padding-bottom: 12px !important;
	--padding-start: 10px !important;
}

.input_box ion-datetime {
	border: 1px solid #657c91;
	width: 100% !important;
	display: block !important;
	color: #333 !important;
	font-size: 14px !important;
	font-family: "proxima_nova_ltsemibold";
	padding: 13px 40px 13px 11px !important;
}

.input_box ion-label {
	display: block !important;
	padding-bottom: 10px !important;
}
.input_box.inputgrop {
	position: relative;
}
.input_box.inputgrop ion-img {
	position: absolute;
	top: 39px;
	right: 9px;
	width: 24px;
}


ion-item ion-img {
	filter  : invert(100%);
	position: absolute;
	top     : 20%;
	right   : 0px;
	padding : 5px;
	width   : 34px;
	cursor  : pointer;
	color   : #000;
}

.subtask_block {
	max-height: 280px;
	overflow  : hidden;
	overflow-y: auto;
}
.btn-blue  {
    color: #02a5e2 !important;
	font-family: "proxima_nova_rgbold";
	font-size: 15px !important;
	letter-spacing: 0.5px;
	cursor: pointer;
	display: block;
	padding: 10px 0px 20px 0px !important;
}
.list_element {
	position     : relative;
}
.remove_filds{
    font-size: 20px;
	color: red;
	width: 20px;
	right: 0px;
	margin: 5px 0;
 }
