<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
  <ion-title>
    Customer Service
  </ion-title>
</ion-toolbar>
<ion-content #content>
  <ion-grid class="forms_grids">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email Id*</ion-label>
          <ion-input placeholder="enter email id"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">How can we help you?*</ion-label>
          <ion-input placeholder="Enter your problem"></ion-input>
        </ion-item>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="round">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
