ion-toolbar {
  color: #215e80;
  background: #fff;
  --background: #fff;
}
ion-content{
  background: #fff;
  --background: #fff;
  // --padding-bottom: 25px;
}
ion-list-header{
  background: #f2f6fa;
}

