  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col class="arrow_box" (click)="goToLastMonth()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col class="month_box">
        <ion-label>{{currentMonth}} {{currentYear}}</ion-label>
      </ion-col>
      <ion-col class="arrow_box" (click)="goToNextMonth()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>

  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col class="calendar_heading">
          <ion-label>Su</ion-label>
        </ion-col>
        <ion-col class="calendar_heading">
          <ion-label>Mo</ion-label>
        </ion-col>
        <ion-col class="calendar_heading">
          <ion-label>Tu</ion-label>
        </ion-col>
        <ion-col class="calendar_heading">
          <ion-label>We</ion-label>
        </ion-col>
        <ion-col class="calendar_heading">
          <ion-label>Th</ion-label>
        </ion-col>
        <ion-col class="calendar_heading">
          <ion-label>Fr</ion-label>
        </ion-col>
        <ion-col class="calendar_heading">
          <ion-label>Sa</ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">
          <ion-label class="dates">
            <span class="date_number">{{lastDay}}</span>
          </ion-label>

        </ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
          <ion-label class="dates" *ngIf="currentDate === day; else otherDate">
            <span class="date_number currentDate">{{day}}</span>
          </ion-label>
          <ng-template #otherDate class="otherDate">
            <ion-label class="dates">
              <span class="date_number">{{day}}</span>

              <div class="dates_slotes" *ngIf="day === 1">
                <span class="cricle">1</span>
                <span class="squre">2</span>
              </div>

              <div class="dates_slotes" *ngIf="day === 10">
                <span class="cricle">1</span>
                <span class="squre">2</span>
              </div>

              <div class="dates_slotes" *ngIf="day === 20">
                <span class="cricle">1</span>
                <span class="squre">2</span>
              </div>

              <div class="selected_dates_slotes" *ngIf="day >= 20 && day <=25">
                <span></span>
              </div>
            </ion-label>
            <div class="event-bullet" *ngIf="checkEvent(day)"></div>
          </ng-template>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">
          <ion-label class="dates">
            <span class="date_number">{{nextDay}}</span>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="selected-event" *ngIf="isSelected">
    <ion-list>
      <ion-item *ngFor="let se of selectedEvent">
        <ion-buttons end>
          <button ion-button clear icon-only (click)="deleteEvent(se)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <h2>{{se.title}}</h2>
        <h3>{{se.message}}</h3>
        <p>Start Date: {{se.startDate}}<br>
          Start Date: {{se.endDate}}</p>
      </ion-item>
    </ion-list>
  </div>