ion-grid {padding: 0px 10px; }
.menurow  {
	margin: 0px !important;
	padding: 10px 0px;
	align-items: center;
}
.menurow ion-col {padding: 0px 10px;}
.menuicons ion-img {
	padding: 0px;
	width: 20px;
}

.menurow .menuicons {
	flex: 0 0 25px;
	max-width: 25px;
	padding: 5px 0px;
}

.menus {
	--margin: 0px !important;
	--padding: 0px !important;
	--padding-bottom: 0px !important;
	--min-height: auto !important;
	--offset-top: 0px !important;
	--offset-bottom: 0px !important;
	--padding-top: 0px !important;
}
ion-grid{
	background: white;
}