ion-grid {padding: 0px 10px; }
.menurow  {
	margin: 0px !important;
	padding: 10px 0px;
	border-top: 1px solid #657c91;
	align-items: center;
}
.menurow ion-col {padding: 0px 10px;}
.menuicons ion-img {
	padding: 5px;
    width: 32px;
}

.menurow .menuicons {flex: 0 0 50px; max-width: 50px;}

.menus {
	--margin: 0px !important;
	--padding: 0px !important;
	--padding-bottom: 0px !important;
	--min-height: auto !important;
	--offset-top: 0px !important;
	--offset-bottom: 0px !important;
	--padding-top: 0px !important;
}
ion-grid{
	background: white;
}