<ion-content #content>
  <top-card fromPage="" title="Forgot Password" imgPath="../../../assets/images/forgot-top.png"> </top-card>
  <ion-grid class="forms_grids">
    <ion-row>
      <ion-col>
        <ion-label position="floating">Email ID</ion-label>
        <ion-item class="field">
          <ion-input placeholder="yourregisteremail@company.com"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="round" (click)="send()">Send Verification Code</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
