ion-grid {
	padding      : 0px;
	background   : white !important;
	--background : white !important;
	border-radius: 15px 15px 0 0;
}


ion-radio-group {
	display: flex;
}

ion-item {
	--background         : white;
	background           : white;
	margin               : 0 5px;
	--min-height         : 40px;
	border-radius        : 5px;
	--padding-start      : 0px;
	--padding-end        : 0px;
	--inner-padding-end  : 10px !important;
	--inner-padding-start: 10px !important;
}

ion-radio {
	opacity: 0;
	width  : 0;
	height : 0;
	border : 1px solid #002e58;

}

ion-checkbox {
	opacity : 0;
	position: absolute;
	width   : 0;
	height  : 0;
	border  : 1px solid #002e58;

}

.border ion-item {
	border: 1px solid #002e58;
}

.item-radio-checked ion-label {
	color: white !important;
}

.item-radio-checked {
	--background: #002e58;
	background  : #002e58;
}

.item-checkbox-checked {
	--background: #cad6df;
	background  : #cad6df;
}