<ion-toolbar *ngIf="selected!=4">
  <ion-title (click)="titleClick()">
    <!-- [min]="minDate"  -->
    <ion-datetime *ngIf="selected ==0" [max]="global.maxDate" #datePicker text-center displayFormat="MMM YYYY"
                  [(ngModel)]="selectedDate">
    </ion-datetime>
    {{selected==1?"Dashboard":selected==2?"Create Task":selected==3?"Notifications":selected==4?"Settings":''}}
  </ion-title>
  <ion-buttons *ngIf="selected != 2" slot="primary">
    <ion-button style="    --color: #333333 !important;">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <!-- <ion-buttons slot="primary">
    <ion-button (click)="logout()">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-buttons> -->
</ion-toolbar>

<ion-content #content id="page" [scrollEvents]="true" (ionScroll)="function($event)">
  <month *ngIf="selected == 0 && !showWeek" [selectedDate]="selectedDate" (change)="changeView($event)"></month>
  <week [selectedDate]="weekSelDate" *ngIf="selected == 0 && showWeek"></week>
  <dashboard *ngIf="selected == 1 "></dashboard>
  <create-task *ngIf="selected == 2 "></create-task>
  <notification *ngIf="selected == 3 "></notification>
  <settings *ngIf="selected == 4 "></settings>
</ion-content>
<app-page-footer style="position: relative;" [selected]="selected" (change)="selectedPage($event)"></app-page-footer>